<!DOCTYPE html>
<html>
<head>
  <title>PeriodicCalculationsDemo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
      </ul>
      <h3 class="text-muted">Periodic Calculations Demo</h3>
    </div>

    <%= yield %>

    <div class="footer">
      <p>© Pol Miro 2013</p>
    </div>
  </div>
</body>
</html>
